<h1>Editing Survey</h1>
  <%if session[:user_id] == @survey.user_id%>
    <%= render 'form' %>
  <%else%>
    <%redirect_to root%>
  <%end%>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
