/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//style splash page and overall look here


//these styles are universal

$font-stack: 'Arimo', sans-serif;
$background-color: white;
$primary-color: rgb(0,150,136);
$button-color: rgb(34,150,243);
$font-color: rgb(117,117,128);

html {
  font-size: 1em;
  font-family: $font-stack;
  background-color: $background-color;
  color: $font-color;
}


//Styling for universal header and footer:
.header {
   display: inline-block;
   width: 100%;
   background-color: $primary-color;
   padding: 1.5em 1em;
}

.header-link {
   text-decoration: none;
   color: white;
   display: inline-block;
}

.header-link:hover {
   text-decoration: underline;
   background-color: $primary-color;
}

.header-left-links {
   float: left;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;
}

.header-right-links {
   float: right;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;

}

.header-right-links > p{
   display: inline-block;
   color: white;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;

}

.footer {
   @extend .header;
}

.footer-link {
   text-decoration: none;
   color: white;
}

.footer-link:hover {
   @extend .header-link:hover;
}

.footer-left-links {
   float: left;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;
}

.footer-left-links > p {
   display: inline-block;
   color: white;
}

.footer-right-links {
   @extend .header-right-links;
   color: $font-color;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;

}

.footer-right-links > p {
   display: inline-block;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;
}

.footer-right-links a {
   color: white;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;
}

.footer-right-links a:hover {
   color: white;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;
}

#logout a {
   @extend .header-link;
}

#logout {
   display: inline;
}

a {
   text-decoration: none;
}

a:hover {
   background-color: $background-color;
   color: $font-color;
   text-decoration: underline;
}

// Log In Page:
body {
   padding: 2em 2em 0 2em;
   background-color: $background-color;
   color: $font-color;
}

//this is the log-in form, but I"m going to flex box this with the other landing page cards
// #landing-page-form {
//    display: flex;
//    line-height: 2em;
//    flex-direction: row;
// }

#landing-page-form h1 {
   text-align: center;
}

form {
   padding-bottom: 2em;
}

#landing-page-form form > input{
   background-color: $button-color;
   color: $background-color;
   border: none;
   border-radius: 3px;
   padding: 0.5em;
}

.landing-page-card {
   display: inline-block;
   // width: 32.5%;
   line-height: 2em;
   .landing-page-header{
      font-size: 2em;
   }
}

.card {
   text-align: center;
   border-left: 1px solid $font-color;
   width: 32.5%;
}

.card > ul li {
   list-style: none;
   line-height: 2em;
   font-size: 1.5em;
}

// Styling for Build Survey Page/Edit Survey Page

.button {
   background-color: $button-color;
   color: $background-color;
   border: 3px solid $button-color;
   border-radius: 3px;
   cursor: pointer;
}//this can be extented to all button elements, so they'll have the same look.
//sizing elements will change depending on the button.

.question-button {
   @extend .button;
   text-align: center;
   padding: 0.2em 0;
   width: 8%;
   margin-bottom: 1em;
}

.actions > input {
   @extend .button;
   padding: 0.3em 0.3em;
   margin: auto;
   font-size: 1em;
   margin-top: 1em;
}

.remove-button {
   @extend .button;
   border: 1px solid $button-color;
   padding: 0 0.3em 0.1em 0.3em;
   margin-left: 6px;
}

textarea {
   border: 1px solid $font-color;
}
