// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//surveys page - this will style the page with all of the survey's listed

$font-stack: 'Arimo', sans-serif;
$background-color: #EEE;
$primary-color: rgb(0,150,136);
$button-color: rgb(34,150,243);
$font-color: rgb(117,117,128);
