// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//surveys page - this will style the page with all of the survey's listed

$font-stack: 'Arimo', sans-serif;
$background-color: white;
$primary-color: rgb(0,150,136);
$button-color: rgb(34,150,243);
$font-color: rgb(117,117,128);
$width-surveys: 1310px;
$margin-surveys: 0;

$breakpoints: (
  'phone': (max-width: 700px),
  'medium': (max-width: 1000px),
  'large': (min-width: 1001px),
);
// SOURCED FROM: http://sass-guidelin.es/#responsive-web-design-and-breakpoints

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// SOURCED FROM: http://sass-guidelin.es/#responsive-web-design-and-breakpoints

.title-survey-dashboard { //title of user profile page
  text-align: center;
  margin-bottom: 1em;

  @include respond-to('phone') {
    max-width: 450px;
    text-align: right;
  }
}

#survey-menu-bar { //hamburger menu icon
  color: $button-color;
}

.left-survey-nav{ //container for left hamburger menu
  display: none;
  position: absolute;
  width: 100px;
}

.left-survey-nav.show { //shows contents of hamburger menu
  position: absolute;
  display: block;
  width: 100px;
  background-color: white;
}



.list-survey.user-profile-page { //all the surveys
  width: $width-surveys;
  list-style-type: none;
  margin-left: $margin-surveys;
  padding-left: 0;

  @include respond-to('medium') {
    min-width: 850px;
    max-width: 1000px;
  }

  @include respond-to('phone') {
    max-width: 100%;
  }
}


.survey-box{ //each survey box
  max-width: $width-surveys/3.1;
  display: inline-block;
  text-align: center;
  padding-top: 1em;

  @include respond-to('medium') {
    max-width: $width-surveys/2;
    padding-top: 1em;

  }

  @include respond-to('phone') {
    width: 500px;
    padding-top: 1em;

  }
}

.survey-box.hover{ //survey box change background color
  background-color: rgb(240,240,240);
}

.survey-title.user-profile-page.hover { //survey title change background color
  @extend .survey-box.hover;
  border-top: none;
  border-bottom: solid 3px $primary-color;
}

.survey-description{
  visibility: hidden;
}

.survey-description.hover { //survey description show
  visibility: visible;
  @extend .survey-box.hover;
  text-align: center;
  font-size: 1em;
}

.survey-title.user-profile-page { //title of surveys
  padding-top: 5px;
  width: $width-surveys/3.1;
  color: $font-color;
  border-top: solid 3px $primary-color;
  -webkit-transition: border 0.3s ease;

  @include respond-to('medium') {
    max-width: $width-surveys/2;
  }

  @include respond-to('phone') {
    width: 100%;
  }
}

.all-survey-box-links { //all the show,hide,edit,destroy links
  list-style-type: none;
  padding-bottom: 1em;
}

.survey-box-link { //icons and show,hide,edit,destroy
  color: $primary-color;
  text-align: left;
  a {
    text-decoration: none;
    color: $button-color;
    text-transform: uppercase;
    padding: .5em;
    font-size: 1.3em;
    font-weight: 700;
  }
}


#clipboard-user-survey-pg{ //clipboard icon
  color: $primary-color;
}

//**** STYLES BELOW ARE FOR THE _form.html.erb FILE ****//

.survey-form-container{ //container for survey form title and description
  // float: left;
  border: 3px solid $primary-color;
  padding-left: 0;
  // width: 400px;
  width: $width-surveys;

  input{
    color: white;
    width: 350px;
    height: 50px;
    font-size: 1.2em;
    background-color: $primary-color;
    border: 3px;
    border-style: solid; /* gets rid of ugly bevel: http://stackoverflow.com/questions/12791631/remove-inner-shadow-of-text-input*/
    margin-bottom: 1em;
  }

  textarea {
    color: $font-color;
    width: 350px;
    height: 150px;
  }

  label {
    text-transform: uppercase;
    font-size: 1.2em;
  }

  // @include respond-to('medium') {
  //   min-width: 850px;
  //   max-width: 1000px;
  // }
  //
  // @include respond-to('phone') {
  //   max-width: 100%;
  // }
}

.question-form-container {
  // float: right;
  // border: 1px solid black;
}

.surveys-ordered-list{ //container for the ordered list of questions
  border: 3px solid $primary-color;
  width: $width-surveys;
  // width: 400px;
  list-style-type: none;
  padding-left: 0;

  input{
    color: white;
    width: 350px;
    height: 50px;
    font-size: 1.2em;
    background-color: $primary-color;
    border: 3px;
    border-style: solid; /* gets rid of ugly bevel: http://stackoverflow.com/questions/12791631/remove-inner-shadow-of-text-input*/
    margin-bottom: 1em;
  }

  textarea {
    color: $font-color;
    width: 350px;
    height: 150px;
  }

  select {
    width: 350px;
    -webkit-appearance: menulist-button; /*http://stackoverflow.com/questions/20656114/how-to-style-increase-the-height-of-select-box-in-css*/
    height: 35px;
    background-color: $button-color;
    color: white;
    font-size: 1em;
  }

  // @include respond-to('medium') {
  //   min-width: 850px;
  //   max-width: 1000px;
  // }
  //
  // @include respond-to('phone') {
  //   max-width: 100%;
  // }
}

// .form-page-column{
//   display: inline-block;
// }

::-webkit-input-placeholder {
   color: white;
}

.question-title{
  text-transform: uppercase;
  font-size: 1.2em;
}
